# Processamento de Dados da Vacinação Sergipe

In [158]:
import pandas as pd
import numpy as np

In [159]:
# Carrega os dados por município e grupo
data_total_municipio = pd.read_csv("output/relatorio_vacina_sergipe.csv")

# Carrega arquivo de histórico por data
data_historico_estado = pd.read_excel("data_general/historico_sergipe.xlsx")

In [160]:
data_total_municipio

,codigo_municipio,municipio,populacao_total,populacao_grupo4_80mais,populacao_grupo5_7079,populacao_grupo6_6069,enviadas_dose1,enviadas_dose2,enviadas_dose_unica,aplicadas_dose1,...,aplicadas_dose_unica_grupo25_zonaportuaria,aplicadas_dose_unica_grupo26_industriaiscivil,aplicadas_dose_unica_grupo27_5054,aplicadas_dose_unica_grupo28_4549,aplicadas_dose_unica_grupo29_4044,aplicadas_dose_unica_grupo30_gestantes,aplicadas_dose_unica_grupo31_puerperas,aplicadas_dose_unica_grupo32_3539,aplicadas_dose_unica_grupo33_3034,aplicadas_dose_unica_grupo34_lactante
0,280010,Amparo de São Francisco,2380,51,89,140,1139,656,30,1164,...,0,0,1,3,3,0,0,11,3,0
1,280020,Aquidabã,21681,481,932,1543,8661,4374,210,8782,...,0,0,13,19,30,0,0,133,0,0
2,280030,Aracaju,664908,10149,24138,47854,302969,142634,11665,321833,...,0,0,0,0,0,0,0,0,0,0
3,280040,Arauá,9947,149,348,644,3619,1712,100,3743,...,0,0,30,25,5,0,0,0,0,0
4,280050,Areia Branca,18686,281,548,1047,7054,2811,185,7066,...,0,0,11,49,77,0,0,47,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,280720,Siriri,8970,154,316,533,3274,1758,75,3227,...,0,1,2,10,37,0,0,17,0,0
71,280730,Telha,3249,49,100,178,1204,609,45,1197,...,0,0,4,19,16,0,0,0,0,0
72,280740,Tobias Barreto,52530,1046,2188,3513,22214,9378,1160,23450,...,0,159,116,359,446,0,0,42,0,0
73,280750,Tomar do Geru,13535,208,446,760,4615,2236,135,4615,...,0,0,0,0,0,0,0,139,0,0
74,280760,Umbaúba,25550,308,725,1482,9073,3743,240,8967,...,0,0,11,17,34,0,0,116,34,0

In [161]:
data_historico_estado

,data,enviadas_dose1,aplicadas_dose1,enviadas_dose2,aplicadas_dose2,enviadas_dose_unica,aplicadas_dose_unica
0,2021-03-01,54898,45836,28258,24909,0,0
1,2021-03-02,78109,48907,35377,25744,0,0
2,2021-03-03,78109,54155,35377,26816,0,0
3,2021-03-04,78109,61270,35377,27275,0,0
4,2021-03-05,92630,67793,35377,28353,0,0
...,...,...,...,...,...,...,...
119,2021-07-16,931761,909356,429995,267205,38700,38692
120,2021-07-17,931761,918903,429995,269426,38700,38697
121,2021-07-19,931761,931490,429995,278330,38700,38700
122,2021-07-20,931761,943038,429995,284674,38700,38700
123,2021-07-21,931761,949323,429995,289106,38700,38799

## Geração do Arquivo de Total de Doses Enviadas e Aplicadas por Município

In [162]:
filter_historico = data_total_municipio[['codigo_municipio','municipio','populacao_total','enviadas_dose1','aplicadas_dose1','enviadas_dose2','aplicadas_dose2','enviadas_dose_unica','aplicadas_dose_unica']]

In [163]:
total_sergipe = data_historico_estado.tail(1)

In [164]:
new_line = ['000000','TODO ESTADO',2318822,int(total_sergipe['enviadas_dose1']),int(total_sergipe['aplicadas_dose1']),int(total_sergipe['enviadas_dose2']),int(total_sergipe['aplicadas_dose2']), int(total_sergipe['enviadas_dose_unica']), int(total_sergipe['aplicadas_dose_unica'])]
new_line

['000000',
 'TODO ESTADO',
 2318822,
 931761,
 949323,
 429995,
 289106,
 38700,
 38799]

In [165]:
data_total_final = filter_historico.append(pd.Series(new_line, index=filter_historico.columns), ignore_index=True)

In [166]:
data_total_final['cobertura_pop_dose1'] = data_total_final['aplicadas_dose1'] / data_total_final['populacao_total']
data_total_final['cobertura_pop_dose2'] = data_total_final['aplicadas_dose2'] / data_total_final['populacao_total']
data_total_final['cobertura_pop_dose2_dose_unica'] = (data_total_final['aplicadas_dose2'] + data_total_final['aplicadas_dose_unica']) / data_total_final['populacao_total']

In [167]:
data_total_final

,codigo_municipio,municipio,populacao_total,enviadas_dose1,aplicadas_dose1,enviadas_dose2,aplicadas_dose2,enviadas_dose_unica,aplicadas_dose_unica,cobertura_pop_dose1,cobertura_pop_dose2,cobertura_pop_dose2_dose_unica
0,280010,Amparo de São Francisco,2380,1139,1164,656,453,30,29,0.489076,0.190336,0.202521
1,280020,Aquidabã,21681,8661,8782,4374,2739,210,210,0.405055,0.126332,0.136018
2,280030,Aracaju,664908,302969,321833,142634,100501,11665,11635,0.484026,0.151150,0.168649
3,280040,Arauá,9947,3619,3743,1712,1154,100,86,0.376294,0.116015,0.124661
4,280050,Areia Branca,18686,7054,7066,2811,2263,185,198,0.378144,0.121107,0.131703
...,...,...,...,...,...,...,...,...,...,...,...,...
71,280730,Telha,3249,1204,1197,609,442,45,46,0.368421,0.136042,0.150200
72,280740,Tobias Barreto,52530,22214,23450,9378,6679,1160,1187,0.446412,0.127146,0.149743
73,280750,Tomar do Geru,13535,4615,4615,2236,1259,135,139,0.340968,0.093018,0.103288
74,280760,Umbaúba,25550,9073,8967,3743,2389,240,227,0.350959,0.093503,0.102387
75,000000,TODO ESTADO,2318822,931761,949323,429995,289106,38700,38799,0.409399,0.124678,0.141410

In [168]:
data_total_final.to_csv("output/data_vacinas_municipio.csv",index=False)

## Geração do Arquivo de Histórico da vacinação do Estado com Média Móvel

In [169]:
data_historico_estado[['data','aplicadas_dose1','aplicadas_dose2','aplicadas_dose_unica']].copy()

          data  aplicadas_dose1  aplicadas_dose2  aplicadas_dose_unica
0   2021-03-01            45836            24909                     0
1   2021-03-02            48907            25744                     0
2   2021-03-03            54155            26816                     0
3   2021-03-04            61270            27275                     0
4   2021-03-05            67793            28353                     0
..         ...              ...              ...                   ...
119 2021-07-16           909356           267205                 38692
120 2021-07-17           918903           269426                 38697
121 2021-07-19           931490           278330                 38700
122 2021-07-20           943038           284674                 38700
123 2021-07-21           949323           289106                 38799

[124 rows x 4 columns]

In [171]:
# Calcula a média móvel e o total por dia
total_historico = data_historico_estado[['data','enviadas_dose1','enviadas_dose2','aplicadas_dose1','aplicadas_dose2','enviadas_dose_unica','aplicadas_dose_unica']].copy()
total_historico['diario_dose1'] = total_historico['aplicadas_dose1'].diff()
total_historico['diario_dose2'] = total_historico['aplicadas_dose2'].diff()
total_historico['diario_dose_unica'] = total_historico['aplicadas_dose_unica'].diff()
total_historico['mediamovel_dose1'] = total_historico['diario_dose1'].rolling(window=7).mean()
total_historico['mediamovel_dose2'] = total_historico['diario_dose2'].rolling(window=7).mean()
total_historico['mediamovel_dose_unica'] = total_historico['diario_dose_unica'].rolling(window=7).mean()
total_historico['mediadiaria_dose1'] = total_historico['diario_dose1'].expanding().mean()
total_historico['mediadiaria_dose2'] = total_historico['diario_dose2'].expanding().mean()
total_historico['mediadiaria_dose_unica'] = total_historico['diario_dose_unica'].expanding().mean()
total_historico['percent_uso_dose1'] = total_historico['aplicadas_dose1'] / total_historico['enviadas_dose1']
total_historico['percent_uso_dose2'] = total_historico['aplicadas_dose2'] / total_historico['enviadas_dose2']
total_historico['percent_uso_dose_unica'] = total_historico['aplicadas_dose_unica'] / total_historico['enviadas_dose_unica']
total_historico = total_historico.fillna(0)
total_historico

,data,enviadas_dose1,enviadas_dose2,aplicadas_dose1,aplicadas_dose2,enviadas_dose_unica,aplicadas_dose_unica,diario_dose1,diario_dose2,diario_dose_unica,mediamovel_dose1,mediamovel_dose2,mediamovel_dose_unica,mediadiaria_dose1,mediadiaria_dose2,mediadiaria_dose_unica,percent_uso_dose1,percent_uso_dose2,percent_uso_dose_unica
0,2021-03-01,54898,28258,45836,24909,0,0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.834930,0.881485,0.000000
1,2021-03-02,78109,35377,48907,25744,0,0,3071.0,835.0,0.0,0.000000,0.000000,0.000000,3071.000000,835.000000,0.000000,0.626138,0.727704,0.000000
2,2021-03-03,78109,35377,54155,26816,0,0,5248.0,1072.0,0.0,0.000000,0.000000,0.000000,4159.500000,953.500000,0.000000,0.693326,0.758007,0.000000
3,2021-03-04,78109,35377,61270,27275,0,0,7115.0,459.0,0.0,0.000000,0.000000,0.000000,5144.666667,788.666667,0.000000,0.784417,0.770981,0.000000
4,2021-03-05,92630,35377,67793,28353,0,0,6523.0,1078.0,0.0,0.000000,0.000000,0.000000,5489.250000,861.000000,0.000000,0.731869,0.801453,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2021-07-16,931761,429995,909356,267205,38700,38692,1919.0,983.0,2231.0,12957.142857,2380.571429,3324.142857,7256.470588,2036.100840,325.142857,0.975954,0.621414,0.999793
120,2021-07-17,931761,429995,918903,269426,38700,38697,9547.0,2221.0,5.0,9878.571429,1914.000000,2819.000000,7275.558333,2037.641667,322.475000,0.986200,0.626579,0.999922
121,2021-07-19,931761,429995,931490,278330,38700,38700,12587.0,8904.0,3.0,10471.000000,2241.857143,2011.142857,7319.454545,2094.388430,319.834711,0.999709,0.647287,1.000000
122,2021-07-20,931761,429995,943038,284674,38700,38700,11548.0,6344.0,0.0,7842.000000,569.571429,833.285714,7354.114754,2129.221311,317.213115,1.012103,0.662040,1.000000
123,2021-07-21,931761,429995,949323,289106,38700,38799,6285.0,4432.0,99.0,8261.285714,842.428571,778.285714,7345.422764,2147.943089,315.439024,1.018848,0.672347,1.002558

In [172]:
total_historico.to_csv("output/data_vacinas_historico.csv", index=False)

## Geração do Arquivo de Total por Grupos de Vacinação

In [173]:
grupos = {
    1: 'Trabalhadores da Saúde',
    2: 'Pessoas com 60 anos ou mais e deficientes Institucionalizados',
    3: 'Índio Aldeado',
    4: 'Pessoas com 80 anos e mais',
    5: 'Pessoas de 70 a 79 anos', 
    6: 'Pessoas de 60 a 69 anos',
    7: 'Situação de Rua',
    8: 'Quilombolas',
    9: 'Trabalhadores das forças de segurança',
    10: 'Pessoas com Síndrome de Dowm e Autismo',
    11: 'Outros (População vacinada com resíduos de vacinas ao final do dia)',
    12: 'Puerperas com comorbidade',
    13: 'Gestante com comorbidade',
    14: 'Deficiente Permanente',
    15: 'Comorbidades',
    16: 'Trabalhadores da Educação',
    17: 'Trabalhadores do sistema prisional',
    18: 'Privados de liberdade',
    19: 'Trabalhadores do Transporte aéreo',
    20: 'Trabalhadores da Limpeza Urbana',
    21: 'Trabalhadores do Transporte Coletivo',
    22: 'Caminhoneiros',
    23: 'População de 55 a 59 anos',
    24: 'Trabalhadores da Educação Superior',
    25: 'Trabalhadores da Zona Portuária',
    26: 'Trabalhadores Industriais e Civil',
    27: 'População de 50 a 54 anos',
    28: 'População de 45 a 49 anos',
    29: 'População de 40 a 44 anos',
    30: 'Gestantes',
    31: 'Puerperas',
    32: 'População de 35 a 39 anos',
    33: 'População de 30 a 34 anos',
    34: 'Lactantes',
}

In [174]:
data_total_municipio

,codigo_municipio,municipio,populacao_total,populacao_grupo4_80mais,populacao_grupo5_7079,populacao_grupo6_6069,enviadas_dose1,enviadas_dose2,enviadas_dose_unica,aplicadas_dose1,...,aplicadas_dose_unica_grupo25_zonaportuaria,aplicadas_dose_unica_grupo26_industriaiscivil,aplicadas_dose_unica_grupo27_5054,aplicadas_dose_unica_grupo28_4549,aplicadas_dose_unica_grupo29_4044,aplicadas_dose_unica_grupo30_gestantes,aplicadas_dose_unica_grupo31_puerperas,aplicadas_dose_unica_grupo32_3539,aplicadas_dose_unica_grupo33_3034,aplicadas_dose_unica_grupo34_lactante
0,280010,Amparo de São Francisco,2380,51,89,140,1139,656,30,1164,...,0,0,1,3,3,0,0,11,3,0
1,280020,Aquidabã,21681,481,932,1543,8661,4374,210,8782,...,0,0,13,19,30,0,0,133,0,0
2,280030,Aracaju,664908,10149,24138,47854,302969,142634,11665,321833,...,0,0,0,0,0,0,0,0,0,0
3,280040,Arauá,9947,149,348,644,3619,1712,100,3743,...,0,0,30,25,5,0,0,0,0,0
4,280050,Areia Branca,18686,281,548,1047,7054,2811,185,7066,...,0,0,11,49,77,0,0,47,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,280720,Siriri,8970,154,316,533,3274,1758,75,3227,...,0,1,2,10,37,0,0,17,0,0
71,280730,Telha,3249,49,100,178,1204,609,45,1197,...,0,0,4,19,16,0,0,0,0,0
72,280740,Tobias Barreto,52530,1046,2188,3513,22214,9378,1160,23450,...,0,159,116,359,446,0,0,42,0,0
73,280750,Tomar do Geru,13535,208,446,760,4615,2236,135,4615,...,0,0,0,0,0,0,0,139,0,0
74,280760,Umbaúba,25550,308,725,1482,9073,3743,240,8967,...,0,0,11,17,34,0,0,116,34,0

In [175]:
# Organizando as colunas como linhas da tabela
data_group = data_total_municipio.drop(columns=['populacao_total',
       'populacao_grupo4_80mais', 'populacao_grupo5_7079',
       'populacao_grupo6_6069', 'enviadas_dose1', 'enviadas_dose2', 'enviadas_dose_unica', 'aplicadas_dose_unica',
       'aplicadas_dose1', 'aplicadas_dose2'])
data_group = pd.melt(data_group, id_vars=['codigo_municipio','municipio'], value_name='total')
data_group

,codigo_municipio,municipio,variable,total
0,280010,Amparo de São Francisco,aplicadas_dose1_grupo1_saude,72
1,280020,Aquidabã,aplicadas_dose1_grupo1_saude,473
2,280030,Aracaju,aplicadas_dose1_grupo1_saude,38529
3,280040,Arauá,aplicadas_dose1_grupo1_saude,171
4,280050,Areia Branca,aplicadas_dose1_grupo1_saude,298
...,...,...,...,...
6745,280720,Siriri,aplicadas_dose_unica_grupo34_lactante,0
6746,280730,Telha,aplicadas_dose_unica_grupo34_lactante,0
6747,280740,Tobias Barreto,aplicadas_dose_unica_grupo34_lactante,0
6748,280750,Tomar do Geru,aplicadas_dose_unica_grupo34_lactante,0
6749,280760,Umbaúba,aplicadas_dose_unica_grupo34_lactante,0

In [176]:
## Funções Auxiliares para mapear informações em novas colunas

import re
def function_map(row, index, convert=False):
    split_ = row['variable'].split("_")

    if len(split_) == 3:
        if index == 1:
            split_value = -1
        else:
            split_value = 99
    elif len(split_) == 4:
        split_value = split_[index]
        if convert:
            split_value = list(map(int, re.findall(r'\d+',  split_value)))[0]
            
    else:
        if index == 1:
            split_value = split_[1] + "_" + split_[2]
            split_value = -1
        elif index == 2:
            split_value = split_[3]
            if convert:
                split_value = list(map(int, re.findall(r'\d+',  split_value)))[0]
            
    
            
    return split_value

def grupos_map(row): 
    return grupos[row['grupo']]

In [177]:
# Criando novas colunas
data_group['dose'] = data_group.apply(lambda row: function_map(row, 1, True), axis=1)
data_group['grupo'] = data_group.apply(lambda row: function_map(row, 2, True), axis=1)
data_group['nome_grupo'] = data_group.apply(lambda row: grupos_map(row), axis=1)

In [178]:
data_group = data_group.drop(columns=['variable'])
data_group

,codigo_municipio,municipio,total,dose,grupo,nome_grupo
0,280010,Amparo de São Francisco,72,1,1,Trabalhadores da Saúde
1,280020,Aquidabã,473,1,1,Trabalhadores da Saúde
2,280030,Aracaju,38529,1,1,Trabalhadores da Saúde
3,280040,Arauá,171,1,1,Trabalhadores da Saúde
4,280050,Areia Branca,298,1,1,Trabalhadores da Saúde
...,...,...,...,...,...,...
6745,280720,Siriri,0,-1,34,Lactantes
6746,280730,Telha,0,-1,34,Lactantes
6747,280740,Tobias Barreto,0,-1,34,Lactantes
6748,280750,Tomar do Geru,0,-1,34,Lactantes
6749,280760,Umbaúba,0,-1,34,Lactantes

### Agrupando por Dose e Grupos

In [179]:
data_group_estado = data_group[['dose','grupo','nome_grupo','total']].groupby(by=['dose','grupo','nome_grupo']).sum()
data_group_estado.reset_index(inplace=True)
data_group_estado

    dose  grupo                                         nome_grupo  total
0     -1      1                             Trabalhadores da Saúde    656
1     -1      2  Pessoas com 60 anos ou mais e deficientes Inst...      9
2     -1      3                                      Índio Aldeado      0
3     -1      4                         Pessoas com 80 anos e mais      7
4     -1      5                            Pessoas de 70 a 79 anos     32
..   ...    ...                                                ...    ...
85     2     30                                          Gestantes    135
86     2     31                                          Puerperas     32
87     2     32                          População de 35 a 39 anos     71
88     2     33                          População de 30 a 34 anos     15
89     2     34                                          Lactantes      0

[90 rows x 4 columns]

In [180]:
data_group_estado.to_csv("output/data_vacinas_grupos_estado.csv", index=False)

In [181]:
data_group_municipio = data_group.groupby(by=['codigo_municipio','municipio','dose','grupo','nome_grupo']).sum()
data_group_municipio.reset_index(inplace=True)
data_group_municipio

,codigo_municipio,municipio,dose,grupo,nome_grupo,total
0,280010,Amparo de São Francisco,-1,1,Trabalhadores da Saúde,5
1,280010,Amparo de São Francisco,-1,2,Pessoas com 60 anos ou mais e deficientes Inst...,0
2,280010,Amparo de São Francisco,-1,3,Índio Aldeado,0
3,280010,Amparo de São Francisco,-1,4,Pessoas com 80 anos e mais,0
4,280010,Amparo de São Francisco,-1,5,Pessoas de 70 a 79 anos,0
...,...,...,...,...,...,...
6745,280760,Umbaúba,2,30,Gestantes,0
6746,280760,Umbaúba,2,31,Puerperas,0
6747,280760,Umbaúba,2,32,População de 35 a 39 anos,0
6748,280760,Umbaúba,2,33,População de 30 a 34 anos,1
6749,280760,Umbaúba,2,34,Lactantes,0

In [182]:
data_group_municipio.to_csv("output/data_vacinas_grupos_municipios.csv", index=False)

In [183]:
data_group_pivot = data_group_estado.pivot_table(values='total', index=['grupo','nome_grupo'], columns='dose')
data_group_pivot.reset_index(inplace=True)
data_group_pivot.rename(columns={-1: 'dose_unica', 1: 'dose_1', 2: 'dose_2'}, inplace=True)
data_group_pivot

dose,grupo,nome_grupo,dose_unica,dose_1,dose_2
0,1,Trabalhadores da Saúde,656,76595,52817
1,2,Pessoas com 60 anos ou mais e deficientes Inst...,9,818,769
2,3,Índio Aldeado,0,278,276
3,4,Pessoas com 80 anos e mais,7,40465,37984
4,5,Pessoas de 70 a 79 anos,32,81674,79207
5,6,Pessoas de 60 a 69 anos,209,143953,97225
6,7,Situação de Rua,42,377,54
7,8,Quilombolas,179,11239,9088
8,9,Trabalhadores das forças de segurança,5,8544,3485
9,14,Deficiente Permanente,70,8624,131
10,15,Comorbidades,570,120943,2157
11,16,Trabalhadores da Educação,122,37949,141
12,17,Trabalhadores do sistema prisional,1,845,36
13,18,Privados de liberdade,0,5204,224
14,19,Trabalhadores do Transporte aéreo,0,450,0
15,20,Trabalhadores da Limpeza Urbana,70,4270,634
16,21,Trabalhadores do Transporte Coletivo,45,3982,8
17,22,Caminhoneiros,87,7036,79
18,23,População de 55 a 59 anos,12590,166751,452
19,24,Trabalhadores da Educação Superior,11,3204,0
20,25,Trabalhadores da Zona Portuária,1,513,0
21,26,Trabalhadores Industriais e Civil,442,16806,155
22,27,População de 50 a 54 anos,2403,48437,1064
23,28,População de 45 a 49 anos,5473,50641,1589
24,29,População de 40 a 44 anos,11074,47876,1278
25,30,Gestantes,0,8508,135
26,31,Puerperas,2,1520,32
27,32,População de 35 a 39 anos,4249,32346,71
28,33,População de 30 a 34 anos,468,19446,15
29,34,Lactantes,0,244,0

In [184]:
data_group_pivot.to_csv("output/data_vacinas_grupos_estado2.csv", index=False)

## Vacinas Recebidas

In [185]:
def map_mounth(value):
    
    split_ = value.split("-")
    day = split_[0]
    mounth = split_[1]
    
    map_ = {
        'jan': '01',
        'fev': '02',
        'mar': '03',
        'abr': '04',
        'mai': '05',
        'jun': '06',
        'jul': '07',
        'ago': '08',
        'set': '09',
        'out': '10',
        'nov': '11',
        'dez': '12'
    }
    
    str_return = "2021-" + map_[mounth] + "-" + day
    
    return str_return

In [186]:
def map_vacinas(value):
    
    map_ = {
        'Coronavac': 'Butantan/CoronaVac',
        'AstraZeneca': 'Oxford/AstraZeneca/Fiocruz',
        'Astrazeneca': 'Oxford/AstraZeneca/Fiocruz',
        'Pfizer': 'Pfizer/BioNTech',
        'Janssen': 'Janssen'
    }
    
    return map_[value]

In [187]:
vacinas_recebidas = pd.read_csv("data_insumos/vacinas_recebidas.csv", skiprows=2, names=['data','vacina','publico_alvo','total'], thousands='.')
vacinas_recebidas

,data,vacina,publico_alvo,total
0,15-jul,Astrazeneca,Destinado para primeira dose,43750
1,08-jul,Coronavac,Destinado para primeira e segunda dose,11200
2,08-jul,Pfizer,Destinado para primeira dose,22230
3,03-jul,Janssen,Cobertura vacinal dos grupos prioritários e o ...,22400
4,03-jul,Astrazeneca,Destinado para segunda dose,31750
5,02-jul,Pfizer,Cobertura vacinal dos grupos prioritários e o ...,19890
6,01-jul,Pfizer,Cobertura vacinal dos grupos prioritários e o ...,9360
7,30-jun,Astrazeneca,Cobertura vacinal dos grupos prioritários e o ...,52000
8,25-jun,Pfizer,Cobertura vacinal dos grupos prioritários e o ...,24570
9,24-jun,Janssen,Cobertura vacinal dos grupos prioritários e o ...,16300
10,24-jun,Coronavac,Cobertura vacinal dos grupos prioritários e o ...,31200
11,20-jun,Astrazeneca,Destinado para segunda dose,68250
12,18-jun,Pfizer,Cobertura vacinal dos grupos prioritários e o ...,25740
13,18-jun,Coronavac,Cobertura vacinal dos grupos prioritários e o ...,16200
14,09-jun,Astrazeneca,"Destinado à primeira dose, para ampliar a cobe...",39250
15,07-jun,Pfizer,De acordo com informe técnico elaborado pelo g...,25740
16,04-jun,Pfizer,"Trabalhadores da educação de nível superior, C...",7020
17,02-jun,Astrazeneca,"Trabalhadores da educação de nível superior, C...",63750
18,26-mai,Pfizer,Pessoas com comorbidades e deficiência permane...,7020
19,26-mai,Astrazeneca,Pessoas com comorbidades e deficiência permane...,62500
20,19-mai,Pfizer,"Pessoas com comorbidades, gestantes e puérpera...",7020
21,18-mai,Astrazeneca,Pessoas com comorbidades e pessoas com deficiê...,60100
22,14-mai,Coronavac,"Segunda dose em idosos, forças de segurança e ...",11200
23,13-mai,Coronavac,aguardando reunião para definição de grupo pri...,22600
24,13-mai,Astrazeneca,aguardando reunião para definição de grupo pri...,45250
25,11-mai,Pfizer,"Trabalhadores da saúde, pessoas com comorbidad...",11700
26,09-mai,Coronavac,"Segunda dose em idosos, forças de segurança e ...",10000
27,06-mai,AstraZeneca,"Segunda dose em idosos, forças de segurança e ...",43300
28,03-mai,Pfizer,Trabalhadores da saúde,4680
29,03-mai,AstraZeneca,"Idosos com 60+, pessoas com comorbidades e de...",66500
30,02-mai,Coronavac,Idosos com 60+ e Trabalhadores da saúde,3280
31,29-abr,Coronavac,"Idosos com 60+, pessoas com comorbidades e de...",1000
32,29-abr,AstraZeneca,"Idosos com 60+, pessoas com comorbidades e de...",46000
33,22-abr,AstraZeneca,"Idosos com 61 e 62 anos, quilombolas, trabalha...",25000
34,22-abr,Coronavac,"Idosos com 61 e 62 anos, quilombolas, trabalha...",6200
35,16-abr,AstraZeneca,"Idosos de 63 e 64 anos, trabalhadores da saúde...",33250
36,16-abr,Coronavac,"Idosos de 63 e 64 anos, trabalhadores da saúde...",22400
37,09-abr,AstraZeneca,"Idosos de 65 e 66 anos, primeira dose para pro...",22750
38,09-abr,Coronavac,"Idosos de 65 e 66 anos, primeira dose para pro...",18000
39,01-abr,AstraZeneca,"Idosos, Trabalhadores da Saúde",7250
40,01-abr,Coronavac,"Idosos, Trabalhadores da Saúde",74200
41,26-mar,AstraZeneca,Idosos de 68 a 69 anos,17900
42,26-mar,Coronavac,Idosos de 68 a 69 anos,28400
43,20-mar,AstraZeneca,Idosos de 70 a 74 anos,21750
44,20-mar,Coronavac,Idosos de 70 a 74 anos,35600
45,17-mar,Coronavac,Idosos de 75 anos e trabalhadores saúde,41000
46,10-mar,Coronavac,Idosos de 76 a 77 anos,21600
47,03-fev.,Coronavac,Idosos de 78 a 79 anos,26000
48,25-fev.,Coronavac,"Trabalhadores saúde, idosos 80 a 89 anos",9000
49,24-fev.,AstraZeneca,"Trabalhadores saúde, idosos 80 a 89 anos",16500
50,07-fev.,Coronavac,"Trabalhadores saúde, idosos 90 anos mais",23800
51,25-jan.,Coronavac,Trabalhadores saúde,8800
52,24-jan.,AstraZeneca,Trabalhadores saúde,19000
53,18-jan.,Coronavac,"Trabalhadores saúde, idosos institucionalizado...",48880

In [188]:
vacinas_recebidas = pd.read_csv("data_insumos/vacinas_recebidas.csv", skiprows=2, names=['data','vacina','publico_alvo','total'], thousands='.')
vacinas_recebidas['data'] = vacinas_recebidas['data'].str.replace(".", "")
vacinas_recebidas['data'] = vacinas_recebidas['data'].apply(map_mounth)
vacinas_recebidas['data'] = pd.to_datetime(vacinas_recebidas['data'])
vacinas_recebidas['vacina'] = vacinas_recebidas['vacina'].apply(map_vacinas)
vacinas_recebidas.drop(columns=['publico_alvo'], inplace=True)
vacinas_recebidas

         data                      vacina  total
0  2021-07-15  Oxford/AstraZeneca/Fiocruz  43750
1  2021-07-08          Butantan/CoronaVac  11200
2  2021-07-08             Pfizer/BioNTech  22230
3  2021-07-03                     Janssen  22400
4  2021-07-03  Oxford/AstraZeneca/Fiocruz  31750
5  2021-07-02             Pfizer/BioNTech  19890
6  2021-07-01             Pfizer/BioNTech   9360
7  2021-06-30  Oxford/AstraZeneca/Fiocruz  52000
8  2021-06-25             Pfizer/BioNTech  24570
9  2021-06-24                     Janssen  16300
10 2021-06-24          Butantan/CoronaVac  31200
11 2021-06-20  Oxford/AstraZeneca/Fiocruz  68250
12 2021-06-18             Pfizer/BioNTech  25740
13 2021-06-18          Butantan/CoronaVac  16200
14 2021-06-09  Oxford/AstraZeneca/Fiocruz  39250
15 2021-06-07             Pfizer/BioNTech  25740
16 2021-06-04             Pfizer/BioNTech   7020
17 2021-06-02  Oxford/AstraZeneca/Fiocruz  63750
18 2021-05-26             Pfizer/BioNTech   7020
19 2021-05-26  Oxford/AstraZeneca/Fiocruz  62500
20 2021-05-19             Pfizer/BioNTech   7020
21 2021-05-18  Oxford/AstraZeneca/Fiocruz  60100
22 2021-05-14          Butantan/CoronaVac  11200
23 2021-05-13          Butantan/CoronaVac  22600
24 2021-05-13  Oxford/AstraZeneca/Fiocruz  45250
25 2021-05-11             Pfizer/BioNTech  11700
26 2021-05-09          Butantan/CoronaVac  10000
27 2021-05-06  Oxford/AstraZeneca/Fiocruz  43300
28 2021-05-03             Pfizer/BioNTech   4680
29 2021-05-03  Oxford/AstraZeneca/Fiocruz  66500
30 2021-05-02          Butantan/CoronaVac   3280
31 2021-04-29          Butantan/CoronaVac   1000
32 2021-04-29  Oxford/AstraZeneca/Fiocruz  46000
33 2021-04-22  Oxford/AstraZeneca/Fiocruz  25000
34 2021-04-22          Butantan/CoronaVac   6200
35 2021-04-16  Oxford/AstraZeneca/Fiocruz  33250
36 2021-04-16          Butantan/CoronaVac  22400
37 2021-04-09  Oxford/AstraZeneca/Fiocruz  22750
38 2021-04-09          Butantan/CoronaVac  18000
39 2021-04-01  Oxford/AstraZeneca/Fiocruz   7250
40 2021-04-01          Butantan/CoronaVac  74200
41 2021-03-26  Oxford/AstraZeneca/Fiocruz  17900
42 2021-03-26          Butantan/CoronaVac  28400
43 2021-03-20  Oxford/AstraZeneca/Fiocruz  21750
44 2021-03-20          Butantan/CoronaVac  35600
45 2021-03-17          Butantan/CoronaVac  41000
46 2021-03-10          Butantan/CoronaVac  21600
47 2021-02-03          Butantan/CoronaVac  26000
48 2021-02-25          Butantan/CoronaVac   9000
49 2021-02-24  Oxford/AstraZeneca/Fiocruz  16500
50 2021-02-07          Butantan/CoronaVac  23800
51 2021-01-25          Butantan/CoronaVac   8800
52 2021-01-24  Oxford/AstraZeneca/Fiocruz  19000
53 2021-01-18          Butantan/CoronaVac  48880

In [189]:
#vacinas_recebidas['mes'] = pd.DatetimeIndex(vacinas_recebidas['data']).month_name(locale='pt_BR')
vacinas_recebidas['mes_int'] = pd.DatetimeIndex(vacinas_recebidas['data']).month
vacinas_recebidas.sort_values(by=['data'], inplace=True)
vacinas_recebidas

         data                      vacina  total  mes_int
53 2021-01-18          Butantan/CoronaVac  48880        1
52 2021-01-24  Oxford/AstraZeneca/Fiocruz  19000        1
51 2021-01-25          Butantan/CoronaVac   8800        1
47 2021-02-03          Butantan/CoronaVac  26000        2
50 2021-02-07          Butantan/CoronaVac  23800        2
49 2021-02-24  Oxford/AstraZeneca/Fiocruz  16500        2
48 2021-02-25          Butantan/CoronaVac   9000        2
46 2021-03-10          Butantan/CoronaVac  21600        3
45 2021-03-17          Butantan/CoronaVac  41000        3
44 2021-03-20          Butantan/CoronaVac  35600        3
43 2021-03-20  Oxford/AstraZeneca/Fiocruz  21750        3
42 2021-03-26          Butantan/CoronaVac  28400        3
41 2021-03-26  Oxford/AstraZeneca/Fiocruz  17900        3
39 2021-04-01  Oxford/AstraZeneca/Fiocruz   7250        4
40 2021-04-01          Butantan/CoronaVac  74200        4
37 2021-04-09  Oxford/AstraZeneca/Fiocruz  22750        4
38 2021-04-09          Butantan/CoronaVac  18000        4
36 2021-04-16          Butantan/CoronaVac  22400        4
35 2021-04-16  Oxford/AstraZeneca/Fiocruz  33250        4
34 2021-04-22          Butantan/CoronaVac   6200        4
33 2021-04-22  Oxford/AstraZeneca/Fiocruz  25000        4
32 2021-04-29  Oxford/AstraZeneca/Fiocruz  46000        4
31 2021-04-29          Butantan/CoronaVac   1000        4
30 2021-05-02          Butantan/CoronaVac   3280        5
29 2021-05-03  Oxford/AstraZeneca/Fiocruz  66500        5
28 2021-05-03             Pfizer/BioNTech   4680        5
27 2021-05-06  Oxford/AstraZeneca/Fiocruz  43300        5
26 2021-05-09          Butantan/CoronaVac  10000        5
25 2021-05-11             Pfizer/BioNTech  11700        5
24 2021-05-13  Oxford/AstraZeneca/Fiocruz  45250        5
23 2021-05-13          Butantan/CoronaVac  22600        5
22 2021-05-14          Butantan/CoronaVac  11200        5
21 2021-05-18  Oxford/AstraZeneca/Fiocruz  60100        5
20 2021-05-19             Pfizer/BioNTech   7020        5
19 2021-05-26  Oxford/AstraZeneca/Fiocruz  62500        5
18 2021-05-26             Pfizer/BioNTech   7020        5
17 2021-06-02  Oxford/AstraZeneca/Fiocruz  63750        6
16 2021-06-04             Pfizer/BioNTech   7020        6
15 2021-06-07             Pfizer/BioNTech  25740        6
14 2021-06-09  Oxford/AstraZeneca/Fiocruz  39250        6
12 2021-06-18             Pfizer/BioNTech  25740        6
13 2021-06-18          Butantan/CoronaVac  16200        6
11 2021-06-20  Oxford/AstraZeneca/Fiocruz  68250        6
10 2021-06-24          Butantan/CoronaVac  31200        6
9  2021-06-24                     Janssen  16300        6
8  2021-06-25             Pfizer/BioNTech  24570        6
7  2021-06-30  Oxford/AstraZeneca/Fiocruz  52000        6
6  2021-07-01             Pfizer/BioNTech   9360        7
5  2021-07-02             Pfizer/BioNTech  19890        7
4  2021-07-03  Oxford/AstraZeneca/Fiocruz  31750        7
3  2021-07-03                     Janssen  22400        7
2  2021-07-08             Pfizer/BioNTech  22230        7
1  2021-07-08          Butantan/CoronaVac  11200        7
0  2021-07-15  Oxford/AstraZeneca/Fiocruz  43750        7

In [190]:
vacinas_group = vacinas_recebidas.groupby(by=['mes_int','vacina'], sort=False).sum()
vacinas_group.reset_index(inplace=True)
vacinas_group

    mes_int                      vacina   total
0         1          Butantan/CoronaVac   57680
1         1  Oxford/AstraZeneca/Fiocruz   19000
2         2          Butantan/CoronaVac   58800
3         2  Oxford/AstraZeneca/Fiocruz   16500
4         3          Butantan/CoronaVac  126600
5         3  Oxford/AstraZeneca/Fiocruz   39650
6         4  Oxford/AstraZeneca/Fiocruz  134250
7         4          Butantan/CoronaVac  121800
8         5          Butantan/CoronaVac   47080
9         5  Oxford/AstraZeneca/Fiocruz  277650
10        5             Pfizer/BioNTech   30420
11        6  Oxford/AstraZeneca/Fiocruz  223250
12        6             Pfizer/BioNTech   83070
13        6          Butantan/CoronaVac   47400
14        6                     Janssen   16300
15        7             Pfizer/BioNTech   51480
16        7  Oxford/AstraZeneca/Fiocruz   75500
17        7                     Janssen   22400
18        7          Butantan/CoronaVac   11200

In [191]:
vacinas_group = vacinas_group.pivot_table(values='total', index=['mes_int'], columns='vacina')
vacinas_group.fillna(0, inplace=True)
vacinas_group.reset_index(inplace=True)
vacinas_group = pd.melt(vacinas_group, id_vars=['mes_int'], value_name='total')
#vacinas_group.dropna(inplace=True)
vacinas_group['total'] = vacinas_group['total'].astype(int)
vacinas_group

    mes_int                      vacina   total
0         1          Butantan/CoronaVac   57680
1         2          Butantan/CoronaVac   58800
2         3          Butantan/CoronaVac  126600
3         4          Butantan/CoronaVac  121800
4         5          Butantan/CoronaVac   47080
5         6          Butantan/CoronaVac   47400
6         7          Butantan/CoronaVac   11200
7         1                     Janssen       0
8         2                     Janssen       0
9         3                     Janssen       0
10        4                     Janssen       0
11        5                     Janssen       0
12        6                     Janssen   16300
13        7                     Janssen   22400
14        1  Oxford/AstraZeneca/Fiocruz   19000
15        2  Oxford/AstraZeneca/Fiocruz   16500
16        3  Oxford/AstraZeneca/Fiocruz   39650
17        4  Oxford/AstraZeneca/Fiocruz  134250
18        5  Oxford/AstraZeneca/Fiocruz  277650
19        6  Oxford/AstraZeneca/Fiocruz  223250
20        7  Oxford/AstraZeneca/Fiocruz   75500
21        1             Pfizer/BioNTech       0
22        2             Pfizer/BioNTech       0
23        3             Pfizer/BioNTech       0
24        4             Pfizer/BioNTech       0
25        5             Pfizer/BioNTech   30420
26        6             Pfizer/BioNTech   83070
27        7             Pfizer/BioNTech   51480

In [192]:
vacinas_group['mes'] = pd.to_datetime(vacinas_group.mes_int, format='%m').dt.month_name(locale='pt_BR')
vacinas_group.sort_values(by=['mes_int','vacina'], inplace=True)
vacinas_group

    mes_int                      vacina   total        mes
0         1          Butantan/CoronaVac   57680    Janeiro
7         1                     Janssen       0    Janeiro
14        1  Oxford/AstraZeneca/Fiocruz   19000    Janeiro
21        1             Pfizer/BioNTech       0    Janeiro
1         2          Butantan/CoronaVac   58800  Fevereiro
8         2                     Janssen       0  Fevereiro
15        2  Oxford/AstraZeneca/Fiocruz   16500  Fevereiro
22        2             Pfizer/BioNTech       0  Fevereiro
2         3          Butantan/CoronaVac  126600      Março
9         3                     Janssen       0      Março
16        3  Oxford/AstraZeneca/Fiocruz   39650      Março
23        3             Pfizer/BioNTech       0      Março
3         4          Butantan/CoronaVac  121800      Abril
10        4                     Janssen       0      Abril
17        4  Oxford/AstraZeneca/Fiocruz  134250      Abril
24        4             Pfizer/BioNTech       0      Abril
4         5          Butantan/CoronaVac   47080       Maio
11        5                     Janssen       0       Maio
18        5  Oxford/AstraZeneca/Fiocruz  277650       Maio
25        5             Pfizer/BioNTech   30420       Maio
5         6          Butantan/CoronaVac   47400      Junho
12        6                     Janssen   16300      Junho
19        6  Oxford/AstraZeneca/Fiocruz  223250      Junho
26        6             Pfizer/BioNTech   83070      Junho
6         7          Butantan/CoronaVac   11200      Julho
13        7                     Janssen   22400      Julho
20        7  Oxford/AstraZeneca/Fiocruz   75500      Julho
27        7             Pfizer/BioNTech   51480      Julho

In [193]:
vacinas_group[['mes','mes_int','vacina','total']].to_csv("output/total_vacinas_recebidas.csv", index=False)